
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

@import 'bootstrap/scss/bootstrap';



*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

p{
    margin: 0;
}

.button{
    border: 1px solid $orange-color;
    padding: 10px 40px;
    width: auto;
}

.button:hover{
    cursor: pointer;
    background-color: $orange-color;
    transition: background-color 0.3s ease;
}

.orange{
    color: $orange-color;
}